<%- include('../layout/header.ejs') %>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="firstimage"></div>
        </div>
    </div>
</section>

<section class="aboutBlog">
    <div class="container mt-5">
        <div class="row">
            <h2 class="text-danger" style="font-family: serif;">About Us</h2><hr>
            <h6 class="shadow-lg">You can explore in this category and download free PNG transparent images for your design ideas Different styles of PNG images with high resolution are available.You can explore in this category and download free PNG transparent images for your design ideas Different styles of PNG images with high resolution are available.You can explore in this category and download free PNG transparent images for your design ideas Different styles of PNG images with high resolution are available.You can explore in this category and <span class="text-info bg-light">download free PNG transparent images for your design ideas Different styles of PNG images with high resolution are available.Different styles of PNG images with high resolution are available.You can explore in this category and download free PNG transparent images for your design ideas Different styles of PNG images with high resolution are available.You can explore</span> in this category You can explore in this category and download free PNG transparent images for your design ideas Different styles of PNG images with high resolution are available.You can explore in this category and download free PNG transparent images for your design ideas Different styles of PNG images with high resolution are available.You can explore in this category and download free PNG transparent images for your design ideas eas Different styles of PNG images with high resolution are available.Different styles of PNG images with high resolution are available.You can explore in this category and download free PNG transparent images for your design ideas Differen </h6>
        </div>
    </div>
</section>

<section class="addBlog">
    <div class="container mt-5">
        <div class="row adbg">
            <div class="col-md-3 col-6"><img src="image/2.jpg" class="img-fluid w-75 shadow-lg">
                <h6 class="text-center">Are you searching for Blog png hd images or vector</h6>
            </div>
            
            <div class="col-md-3 col-6"><img src="image/2.jpg" class="img-fluid w-75 shadow-lg">
                <h6 class="text-center">Are you searching for Blog png hd images or vector</h6>
            </div>
            
            <div class="col-md-3 col-6"><img src="image/2.jpg" class="img-fluid w-75 shadow-lg">
                <h6 class="text-center">Are you searching for Blog png hd images or vector</h6>
            </div>

            <div class="col-md-3 col-6"><img src="image/2.jpg" class="img-fluid w-75 shadow-lg">
                <h6 class="text-center">Are you searching for Blog png hd images or vector</h6>
            </div>
        </div>
    </div>
</section>


<section class="ourTeam">
    <div class="container mt-5">
        <div class="row">
            <h2 class="text-danger" style="font-family: serif;">Our working team</h2><hr>
            <h6 class="shadow-lg">You can explore in this category and download free PNG transparent images for your design ideas Different styles of PNG images  images for your design ideas Different styles of PNG images with high resolution are available.You can explore in this category and <span class="text-info bg-light">download free PNG transparent images for your design ideas Different styles of PNG images with high resolution are available.Different styles of PNG images with high resolution are available.You can explore in this category and download free PNG transparent images for your design ideas Different styles of PNG images with high resolution are available.You can explore</span> in this category You can explore in this category and download free PNG transparent images for your design ideas Different styles of PNG images with high resolution are available.You can explore in this category and download free PNG .You can explore in this category and download free PNG transparent images for your design ideas Differen </h6>
        </div>
    </div>
</section>

<section class="addBlog">
    <div class="container mt-5">
        <div class="row adbg">
            <div class="col-md-3 col-6"><img src="image/2.jpg" class="img-fluid w-75 shadow-lg">
                <h6 class="text-center">Are you searching for Blog png hd images or vector</h6>
            </div>
            
            <div class="col-md-3 col-6"><img src="image/2.jpg" class="img-fluid w-75 shadow-lg">
                <h6 class="text-center">Are you searching for Blog png hd images or vector</h6>
            </div>
            
            <div class="col-md-3 col-6"><img src="image/2.jpg" class="img-fluid w-75 shadow-lg">
                <h6 class="text-center">Are you searching for Blog png hd images or vector</h6>
            </div>

            <div class="col-md-3 col-6"><img src="image/2.jpg" class="img-fluid w-75 shadow-lg">
                <h6 class="text-center">Are you searching for Blog png hd images or vector</h6>
            </div>
        </div>
    </div>
</section>



<%- include('../layout/footer.ejs') %>