<section class="dashboard">
    <div class="container">
        <div class="row dash mt-4">
            <div class="col-md-2 col-6"> <a href="/dashboard" class="nav-link text-center"> <h5><i class="fa-solid fa-gauge"></i> Dashboard</h5></a> </div>
            <div class="col-md-2 col-6"> <a href="/admin/blogdisplay" class="nav-link text-center"><h5><i class="fa-solid fa-blog"></i> Blogs</h5></a></div>
            <div class="col-md-2 col-6"> <a href="/admin/categorydisplay" class="nav-link text-center"> <h5><i class="fa-solid fa-list"></i> Category</h5></a></div>
            <div class="col-md-2 col-6"> <a href="/admin/contact" class="nav-link text-center"> <h5><i class="fa-solid fa-address-book"></i> Contact</h5></a></div>
            <div class="col-md-2 col-6"> <a href="/admin/about" class="nav-link text-center"> <h5><i class="fa-solid fa-address-card"></i> About</h5></a></div>
            <div class="col-md-2 col-6"> <a href="/admin/logout" class="nav-link text-center"><h5><i class="fa-solid fa-right-from-bracket"></i> Logout</h5></a></div>
        </div>
    </div>
</section>

<br><br>