@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-link {
	font-size: 19px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #2a3946;
}

/* .navbar-nav .li{
	margin-right: 15px;
} */




.addBlog img{
	margin-left: 10%;
	border-radius:12%;
}

.addBlog h2{
	font-family: serif;
}
.addBlog h4{
	font-family: serif;
}

.addBlog h6{
	font-family: serif;
}

.addBlog p{
	font-family: serif;
}

.footer h6{
	font-family: serif;
	font-size: 19px;
	color: #6a3e3e;
}




/*about*/

.firstimage{
	background-image: url(../image/blog2.jpg);
	width: 100%;
	height: 450px;
	background-position: center;
	background-repeat: no-repeat;
}
.firstimage h1{
	margin-left: 33%;
	margin-top: 10%;
	margin-right: 30%;
	background: whitesmoke;
	color: green;
	border-radius: 20%;
}


.dashboard div{
	
	font-family: serif;
	color: #6f42c1;
	
	background: whitesmoke;
}

.dash div:hover{
	background: rgb(15, 15, 5);
	color: white;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}

.hoo a:hover{
	color: rgb(228, 31, 31);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
}

.readhover a:hover{
	border-radius: 12px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background: olive;
}

.contactphn{
	display: none;
}

