<%- include('../../layout/header.ejs') %>

<div class="container mt-4">
    <div class="row">
        <h3>Message of <%= m.name %> </h3><hr>
        <h6><%= m.message %> </h6>
    </div>
</div>

<%- include('../../layout/footer.ejs') %>